.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.input-field-number {
  width: 50px;
}

.remove-button {
  background-color: rgba(0, 0, 0, 0);
  color: red;
  font-weight: bolder;
  border: 0px;
}

.display-button {
  background-color: lightblue;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0 1px;
}

.hidden-button {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.hide {
  display: none;
}

#timer-running {
  color: limegreen;
}

#timer-paused {
  color: red;
}

.flicker {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
   animation: flickerAnimation 1s infinite;
}


@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.1; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.1; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.1; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.1; }
  100% { opacity:1; }
}